.btn {
    padding: 10px;
    width: 120px;
    height: 60px;
    color: #1A77BC;
    background: white;
    // background: #1A77BC;
    // color: white;
    border-radius: 8px;
    font-family: 'Gilroy-Regular';
}