.about {
    font-family: "Gilroy-Regular";
    width: 60%;
    margin: 0 auto;
    padding-bottom: 35px;
}
.title {
    font-weight: 400;
    color: #1A77BC;
    font-size: 40px;
    padding-top: 50px;
}
.text {
    padding-top: 20px;
    font-size: 20px;
}
.moreButton {
    background-color: #1A77BC;
    color: white;
    font-size: 20px;
    height: 45px;
    width: 250px;
    margin-top: 25px;
    border-radius: 10px;
}