// .mainpage {
//     position: relative;
// }
// .authorization {
//     position: absolute;
// }
.slider {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}
.header {
    position: relative;
}