.map {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Gilroy-Regular";
    position: relative;
    width: 100%;    
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    width: 60%;
    height: 20%;
    position: absolute;
    background-color: rgba(26, 119, 188, 1); /* Прозрачный черный цвет фона */
}

.title {
    color: white;
    font-size: 44px;
}

.image {
    width: 60%;
    text-align: center;
    border-radius: 15px;
}