.map {
    // margin: 0 auto;
}
.image {
    width: 500px;
    border-radius: 15px;
    // position: absolute;
}
.title {
    background-color: red;
    width: 250px;
    height: 100px;
    font-family: "Gilroy-Regular";
    // position: relative;
    // z-index: 1;
    top: 100px;
}