.popular {
    font-family: "Gilroy-Regular";
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 45px;
}
.container {
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 400;
    color: #1A77BC;
    font-size: 40px;
    padding-top: 50px
}
.subtitle {
    font-weight: 400;
    color: #1A77BC;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px
}
.images {
    padding: 15px;
}
.image {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}